<div class="container" style="width: 40rem;">
  <form action="/search">

    <div class="input-group mt-3">
      <select class="form-select" aria-label="sort" name="sort" id="sort">
        <option value="" selected>排序</option>
        <option value={{getKey sortNameMap 0}} {{#is sort (getKey sortNameMap 0) }}selected{{/is}}>{{getValue
          sortNameMap 0}}
        </option>
        <option value={{getKey sortNameMap 1}} {{#is sort (getKey sortNameMap 1) }}selected{{/is}}>{{getValue
          sortNameMap 1}}</option>
        <option value={{getKey sortNameMap 2}} {{#is sort (getKey sortNameMap 2) }}selected{{/is}}>{{getValue
          sortNameMap 2}}</option>
      </select>

      <select class="form-select" aria-label="categoryName" name="categoryName" id="categoryName">
        <option value="" selected>類別</option>
        <option value={{getKey CATEGORY 0}} {{#is categoryName (getKey CATEGORY 0) }}selected{{/is}}>{{getKey CATEGORY
          0}}</option>
        <option value={{getKey CATEGORY 1}} {{#is categoryName (getKey CATEGORY 1) }}selected{{/is}}>{{getKey CATEGORY
          1}}</option>
        <option value={{getKey CATEGORY 2}} {{#is categoryName (getKey CATEGORY 2) }}selected{{/is}}>{{getKey CATEGORY
          2}}</option>
        <option value={{getKey CATEGORY 3}} {{#is categoryName (getKey CATEGORY 3) }}selected{{/is}}>{{getKey CATEGORY
          3}}</option>
        <option value={{getKey CATEGORY 4}} {{#is categoryName (getKey CATEGORY 4) }}selected{{/is}}>{{getKey CATEGORY
          4}}</option>
      </select>

      <button class="btn btn-secondary" type="submit">送出</button>
      <a href="/" class="btn btn-outline-primary">取消篩選</a>
      <a href="./records/new" class="btn btn-danger">新增支出</a>
    </div>

  </form>

  <div class="card my-3">
    <div class="card-body">
      <h4 class="card-title"><strong>總金額：</strong></h4>
      <h1 class="card-text" style="text-align: right">{{number totalAmount}}
      </h1>
    </div>
  </div>
  {{> message}}
  <table class="table table-hover">

    <thead class="table-light">
      <tr>
        <th scope="col">類別</th>
        <th scope="col">名稱</th>
        <th scope="col">日期</th>
        <th scope="col">金額</th>
        <th scope="col">編輯</th>
        <th scope="col">刪除</th>
      </tr>
    </thead>

    <tbody>
      {{#each records}}
      <tr>
        <td>
          <i class="{{this.categoryId.icon}}"></i>
        </td>

        <td>
          {{this.name}}
        </td>

        <td>
          {{dateFormat this.date "YYYY-MM-DD"}}
        </td>

        <td style="text-align: right">
          {{number this.amount}}
        </td>

        <td>
          <a href="./records/{{ this._id }}/edit" class="btn btn-secondary btn-sm">編輯</a>
        </td>

        <td>
          <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-danger btn-sm">刪除</button>
          </form>
        </td>
      <tr>
        {{/each}}
    </tbody>

  </table>
</div>