<div class="container" style="width: 40rem;">
  <form action="/search">

    <div class="input-group mt-3">
      <select class="form-select" aria-label="sort" name="sort" id="sort">
        <option value="" selected>排序</option>
        <option value="latest" {{#is sort "latest" }}selected{{/is}}>最新</option>
        <option value="amountBiggest" {{#is sort "amountBiggest" }}selected{{/is}}>金額最大</option>
        <option value="amountSmallest" {{#is sort "amountSmallest" }}selected{{/is}}>金額最小</option>
      </select>

      <select class="form-select" aria-label="categoryName" name="categoryName" id="categoryName">
        <option value="" selected>類別</option>
        <option value="家居物業" {{#is categoryName "家居物業" }}selected{{/is}}>家居物業</option>
        <option value="交通出行" {{#is categoryName "交通出行" }}selected{{/is}}>交通出行</option>
        <option value="休閒娛樂" {{#is categoryName "休閒娛樂" }}selected{{/is}}>休閒娛樂</option>
        <option value="餐飲食品" {{#is categoryName "餐飲食品" }}selected{{/is}}>餐飲食品</option>
        <option value="其他" {{#is categoryName "其他" }}selected{{/is}}>其他</option>
      </select>

      <button class="btn btn-secondary" type="submit">送出</button>
      <a href="/" class="btn btn-outline-primary">取消篩選</a>
      <a href="./records/new" class="btn btn-danger">新增支出</a>
    </div>

  </form>

  <div class="card my-3">
    <div class="card-body">
      <h4 class="card-title"><strong>總金額：</strong></h4>
      <h1 class="card-text" style="text-align: right">{{number totalAmount}}
      </h1>
    </div>
  </div>

  <table class="table table-hover">

    <thead class="table-light">
      <tr>
        <th scope="col">類別</th>
        <th scope="col">名稱</th>
        <th scope="col">日期</th>
        <th scope="col">金額</th>
        <th scope="col">編輯</th>
        <th scope="col">刪除</th>
      </tr>
    </thead>

    <tbody>
      {{#each records}}
      <tr>
        <td>
          <i class="{{this.categoryId.icon}}"></i>
        </td>

        <td>
          {{this.name}}
        </td>

        <td>
          {{dateFormat this.date "YYYY-MM-DD"}}
        </td>

        <td style="text-align: right">
          {{number this.amount}}
        </td>

        <td>
          <a href="./records/{{ this._id }}/edit" class="btn btn-secondary btn-sm">編輯</a>
        </td>

        <td>
          <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-danger btn-sm">刪除</button>
          </form>
        </td>
      <tr>
        {{/each}}
    </tbody>

  </table>
</div>